@model InventoryManager.Models.Sharing

@{
    ViewBag.Title = "SharedDelete";
}

<h2>SharedDelete</h2>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Email)?</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Yes" class="btn btn-default" />
        </div>
    }
</div>