@model InventoryManager.Models.Item

<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    }
</script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

@using (Html.BeginForm("Details", "item", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" />

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Description , new { @class = "control-label col-md-2" })
            <div class="form-group">
                <textarea class="form-control" rows="10" cols="40" id="comment"></textarea>
            </div>
        </div>

        <img src="/Content/RetrieveImage/@Model.Id" alt="" height=100 width=200 />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
