@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website is a great tool to inventory your Garage, Shed, or even a closet. It’s easy to add items and search for them by name or by category. Create an account and create your own inventory so you can view it from anywhere, on your phone, computer or tablet.</p>
