@{
    ViewBag.Title = "Home Page";
}
<head>
    <title>InventoryIt<</title>
</head>

<body>
    <h2>Welcome to InventoryIt.com</h2>

    <p>This is an easy to use site where you can create your own Inventory for your Garage, Shed or anything you want to Inventory.</p>

    <p>You can search through your Inventory by keyword or filter by category</p>
    add pictures later
</body>
